<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="Dispatcher" value="0" />
			<add name="DispatcherUnlockingManager" value="0" />
			<add name="DispatcherDispatching" value="0" />
			<add name="RouteGrading" value="0" />
			<add name="DeadlockIdentification" value="0" />
			<add name="LockManager" value="2" />
			<add name="LGBMTS" value="0" />
			<add name="BlockIdentification" value="0" />
			<add name="BlockInfo" value="0" />
			<add name="RoutePlanning" value="0" />
			<add name="RoutingTable" value="0" />
			<add name="ShowTrackDescription" value="0" />
			<add name="Messages" value="4" />
			<add name="CommandStationManager" value="0" />
			<add name="LocomotiveTracking" value="4" />
			<add name="BreakOnBadLocomotiveTracking" value="0" />
			<add name="ShowCoordinates" value="4" />
		</switches>
	</system.diagnostics>
</configuration>
